/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 21, 2017, 6:39:14 PM
    Author     : ricardo
*/

.welcome h1 
{ 
    color: #FF9900;
    font-size: 100px;
    letter-spacing: 5px;
    margin-top: 25%;
}

.welcome h1 small { color: #BFB9F7; }