/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 19, 2017, 3:53:09 PM
    Author     : ricardo
*/

@font-face
{
    font-family: "LCARS";
    src: url('../fonts/Swiss911UCBT.woff');
}

/* General */
html, body { height: 100%; }

body 
{
    background-color: #000000;
    background-image: url('../img/starfleet_command.png');
    background-attachment: fixed; /* Keeps the background image in position no matter what */
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain; /* Automatically scale the background image to fit no matter what */
}

body * 
{ 
    font-family: LCARS; 
}

.vcenter
{
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.translucent:hover { opacity: 1.0; }

/* Navbars */
.navbar-brand 
{ 
    font-size: 24px;
    letter-spacing: 5px; 
}

.menu-buttons
{
    background: -moz-linear-gradient(top, #BFB9F7 0%, #207CCA 68%, #2989D8 100%, #8267EA 100%); /* Mozilla FF */
    background: -ms-linear-gradient(top, #BFB9F7 0%, #207CCA 68%, #2989D8 100%, #8267EA 100%); /* IE10+ */
    border: none;
}

.logout
{
    background-color: #000000;
    border: none;
    color: #FF9900;
}

/* Alerts */
.alert
{
    color: #000000;
    cursor: pointer;
    font-size: 24px;
    letter-spacing: 5px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
}

.alert.alert-success 
{ 
    background-color: #9999FF; 
    border-color: #9999FF;
}

.alert.alert-info 
{ 
    background-color: #BFB9F7; 
    border-color: #BFB9F7;
}

.alert.alert-warning 
{ 
    background-color: #FF9900;
    border-color: #FF9900;
}

.alert.alert-error 
{ 
    background-color: #CC0000;
    border-color: #CC0000;
}

.alert.alert-confirm
{
    background-color: #FAA634;
    border-color: #FAA634;
}

/* Buttons */
.btn
{
    font-size: 24px;
    letter-spacing: 5px;
    padding-top: 0px;    
}

form .btn
{
    background-color: #000000;
    color: #FF9900;
}

form .btn:hover 
{ 
    background-color: #FF9900; 
    color: #000000; 
}

/* Form Elements */
.form-group 
{
    margin-left: 0px;
    margin-right: 0px;
}

.form-group input 
{ 
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #FF9900;
    cursor: default;
    font-size: 24px;
    padding-left: 5px;
    padding-top: 0px;
}

.form-group input:focus { border: 1px solid #FFFFFF; }
.form-group input:hover::-moz-placeholder { color: #FF9900; }

/* Login & Register Forms */
.login-register
{
    border-radius: 5px;
    background: -moz-linear-gradient(top, #BFB9F7 0%, #207CCA 68%, #2989D8 100%, #8267EA 100%); /* Mozilla FF */
    background: -ms-linear-gradient(top, #BFB9F7 0%, #207CCA 68%, #2989D8 100%, #8267EA 100%); /* IE10+ */
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 15px;
    padding-left: 15px;
}

.login-register .buttons { width: 179px; }

